body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#map { 
  height: 600px;
  max-width: 90%
}

#NavBar {
  height: 100px;
  width: 100%;
  background-color: #eff0f2;
  display: inline-block;
  position: relative;

}
/*#f3f4f6*/
.btn-auth {
  background-color: #009BFF;
  font-family: 'Impact', fantasy;
  font-size: 20px;
  color: white;
  height: 50px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 30px;

  float: right;
  margin-right: 25px;
  margin-top: 40px;
  margin-bottom: 5px;
}

.btn-auth:hover{
  background-color: #C2E7FF;
  color: #143C56;
}

.btn-form-submit {
  background-color: #009BFF;
  font-family: 'Impact', fantasy;
  font-size: 20px;
  color: white;
  height: 50px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 30px;
  float: right;
}

.btn-form-submit:hover{
  background-color: #C2E7FF;
  color: #143C56;
}
.Link {
  margin-left: 2%;
  font-family: 'Impact', fantasy;
  color: #009BFF;
  text-decoration: none;
  font-size: 27px;
  padding-top: 50px;
  bottom: 10px;
  float: left;
  /* display: inline-block; */
  align-items: center;
}

#nav_logo {
  height: 100px;
  display: block;
  position:absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#search_background{
  background-image: url("SearchBarGraphic.jpg");
  height: 55vh;
  width: 100%;
  background-repeat:no-repeat;
  background-size:contain;
  margin-top: -6px;
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  flex-wrap: nowrap;
}

#search_bar{
  width: 30vw;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-self: center;
  height: 50px;
}

#search_field{
  border-radius: 30px;
  font-size: 20px;
}

#search_submit{
  width: 9vw;
  background-color: #009BFF;
  font-family: 'Impact', fantasy;
  font-style: bold;
  font-size: 20px;
  color: white;
  height: 50px;
  border-radius: 30px;
  margin-left: 1vw;
}

#example-cards{
  display: flex;
  justify-content:space-around;
}

#login-welcome{
  font-family: 'Impact', fantasy;
  font-style: bold;
  font-size: 20px;
  color: rgb(0, 103, 134);
  height: 50px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 30px;
  width: 160px;
  float: right;
  margin-right: 25px;
  margin-top: 55px;
  margin-bottom: 5px;
}